<!doctype html>
<html lang="{{ language }}">
    {{> head }}
    <body>
        <div>
            {{> navigation }}
            {{ content }}
            {{> footer }}
        </div>
    </body>
</html>
