---
root_url: "https://www.perl6.org"
separator: ':::'
url_postfix: '@-@'
special: I am in the summer2017 layout
---
<!doctype html>
<html lang="{{ language }}">
    {{> head }}
    <body>
        <div>
        {{> navigation }}
        {{> content }}
        {{> footer }}
        </div>
    </body>
</html>
