---
title: 'Welcome to Uzu'
date:  '2017/07/16'
author: Sam Morrison
theme_handbook: True
---
{{> jumbotron }}

{{> home }}

<p>
    Title: <strong>{{ title }}</strong><br/>
    Date: {{ date }}
</p>
