---
author: Page Author
related_pages:
    - page: about
      title: Let's use this title
    - page: blog/fiji
    - page: https://www.perl6.org
      title: The Perl 6 Programming Language
      author: Perl 6
other_pages:
    - page: blog/fiji
    - page: https://modules.perl6.org
      title:  Perl 6 Modules Directory
      author: Perl 6
    - page: about
---
<ul>
{{#related_pages}}
    <li>
        <a href="{{ url }}">{{ title }}</a> [{{ author }}]
    </li>
{{/related_pages}}
</ul>
<ul>
{{#other_pages}}
    <li>
        <a href="{{ url }}">{{ title }}</a> [{{ author }}]
    </li>
{{/other_pages}}
</ul>
