---
categories:
    - travel:
        - 2017:
            - august
            - summer:
                - family
                - sailing
    - fiji
    - vacation
---
<h1>{{ i18n.title }}</h1>
<div>
    Date: {{ i18n.date }}<br/>
    Body:<br/>
    {{ i18n.body }}
</div>
